*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

keystore.properties
/app/src/main/java/io/github/ovso/psytest/Security.java
.idea
